body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position:center;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
  color: #fff;
  padding: 10px;
}

.image {
  height: 30px;
  margin-right: 5px;
}

.navbar a {
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar ul a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
}

.navbar ul a:hover {
  border-bottom: 2px solid;
}

.main h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #414181;
  text-align: center;
  margin-top: 30px;
}
.main{
  max-width: 75%;
  margin: 60px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffffd5;
  box-sizing: border-box;
}
.Btn {
  width: 130px;
  height: 50px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}


.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}
.popup img {
height: 100px;
margin-right: 5px;
}
.popup{
  width:400px;
  background: #fff;
  border-radius: 6px;
  position:absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  text-align: center;
  padding: 0 30px 30px;
  color:#333;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  transition: transform 0.4s,top 0.4s;
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}
.open-popup{
visibility: visible;
top:40%;
}